.logo {
    padding-bottom: 38px;
    max-width: 142px;
    object-fit: contain;
}

@media screen and (max-width: 500px) {
    .logo {
        padding-bottom: 27px;
        max-width: 104px;
        padding-left: 25px;
    }
}
