.like {
    background: url('../../images/logo/like.svg') right center/contain no-repeat;
    min-width: 24px;
    height: 19px;
    cursor: pointer;
    transition: 0.4s all;
    border: none;
    box-sizing: border-box;
    padding: 0;
}

.like:hover {
    background-image: url('../../images/logo/like_hover.svg');
}